<%= unless @changeset.valid? do %>
<div class="flash is-error">
<% count = Enum.count(@changeset.errors) %>
<h4><%= if (count > 1), do: [count, " errors"], else: "An error" %> prohibited this <%= readable_model_name(@changeset) %> from being saved:</h4>
<ul>
<%= for {key, {message, _}} <- @changeset.errors do %>
<li><%= key |> Atom.to_string |> String.capitalize %> <%= message %></li>
<% end %>
</ul>
</div>
<% end %>
