<footer class="footer">
  <div class="container has-text-centered">
<%= if @current_user do %>
<p>You are signed in as <%= @current_user.email %>. <%= link "Sign out", to: session_path(@conn, :delete) %></p>
<% end %>
<p>&copy; 2008-2018 <a href="mailto:k.j.moroz@gmail.com">Karol Moroz</a>. <%= gettext "Some rights reserved." %></p>
  </div>
</footer>
