<header class="page-header">
  <div class="page-header-left">
    <%= link to: "/", class: "logo" do %>
      <img src="<%= static_path(@conn, "/images/logo.svg") %>" alt="2137.io">
    <% end %>
    <h2 class="subheader"><%= gettext "The blog of Karol Moroz" %></h2>
  </div>
  <div class="page-header-right">
    <%= link gettext("Home"), to: "/" %>
    <%= link gettext("Blog"), to: "/blog" %>
<%= case Gettext.get_locale(ElefantoWeb.Gettext) do %>
<%= "en" -> %><%= link "中文", to: current_url(@conn, %{lang: "zh"}), title: "English version" %>
<%= "zh" -> %><%= link "EN", to: current_url(@conn, %{lang: "en"}), title: "中文版" %>
<% end %>
  </div>
</header>
