<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Karol Moroz">
<title><%= if assigns[:title], do: [assigns[:title], " | "] %>2137.io</title>
<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">