<%= link to: post_path(@conn, :show, @post) do %>
  <div class="post-card card hoverable">
    <div class="card-content">
      <span class="post-card-title" lang="<%= @post.language %>"><%= pretty_title(@post) %></span>
    </div>
    <div class="card-action">
    <div class="post-details">
    <%= date_span(@post) %><%= language_span(@post) %>
    </div>
    </div>
  </div>
<% end %>
