<h2><%= gettext "Blog archive" %></h2>

<div class="post-grid">
<%= for post <- @posts do %>
<%= render ElefantoWeb.PostView, "_post.html", post: post, conn: @conn %>
<% end %>
</div>
<%= pagination_links @conn, @page %>
<%= if @current_user do %><span><%= link gettext("New post"), to: post_path(@conn, :new) %></span><% end %>