<%= button_back %>
<div class="post-header">
  <h2 class="post-title"><%= pretty_title(@post) %></h2>
  <div class="post-details">
  <%= date_span(@post) %><%= language_span(@post) %><%= view_count(@post) %>
  </div>
<%= if @current_user do %>
<%= actions(@conn, @post) %>
<% end %>
  </div>
<div class="post-content" lang="<%= @post.language %>">
  <%= render_post_body(@post) %>
</div>
<%= render CommentView, "_comments_app.html", comments_json: @comments_json, post: @post %>