.comment
  margin-bottom: 1rem
  &:last-of-type
    margin-bottom: 0

.comment-metadata
  font-size: 0.9em
  color: #666
  margin-bottom: 0.25rem !important

.comment-signature
  font-weight: bolder
  color: black

.comment-ip
  font-size: 0.8em

.comment-timestamp, .comment-ip
  margin-left: 0.5rem

.comment-form
  > *
    grid-column: 2
  .material-icons
    width: 3rem
    font-size: 2rem
    text-align: center
    grid-column: 1
  display: grid
  margin-top: 1rem
  margin-bottom: 1rem
  grid-template-columns: auto 1fr 1fr
  align-items: center
  grid-row-gap: 0.7rem
  grid-column-gap: 0.5rem
  // height: 3rem
  overflow: hidden

  &.is-expanded
    height: auto
    overflow: visible

.comment-body-field
  margin: 0
  grid-column: 2/4
  textarea
    margin: 0

.comment-signature-field, .comment-form-submit
  grid-column: 2
  margin: 0
  @media #{$mobile-only}
    grid-column: 2/4

.comment-form-submit
  justify-self: start

.g-recaptcha, #new_comment_recaptcha
  grid-column: 2
