@import '../variables'
.react-editor
  height: 100vh
  width: 100vw
  display: grid
  grid-template-rows: auto 1fr
  overflow-y: hidden

.language-flag > svg
  margin-right: 10px
  vertical-align: text-bottom
  width: 1.7rem

li .language-flag > svg
  outline: 1px solid #ccc