@import '../variables'
.error-card
  display: flex
  justify-content: center
  align-content: center
  > *
    margin: auto

.error-code
  text-align: center
  color: $danger

.error-explanation
  font-size: 1.5rem
  text-align: center