@import '../variables'

.post-grid
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr))
  grid-gap: 1.237rem
  grid-auto-rows: 10rem
  @media #{$mobile-only}
    grid-template-columns: 1fr

  > *
    display: block
    height: 100%

  a:link, a:visited
    .post-card-title
      color: darken($primary, 10%)
  a:hover
    .post-card-title
      color: darken($primary, 6%)

.post-content
  // margin-top: 1rem
  ul:not(.browser-default)
    padding-left: 1.5rem
    font-size: inherit
    > li
      list-style-type: disc

  @media #{$full-hd-up}
    margin: 1rem

.post-card
  font-family: $family-primary
  font-weight: 400
  height: 100%

  .post-card-title
    font-size: 1.1em
    margin-top: 0.5rem
    font-weight: 400
    &:lang(zh)
      font-size: #{$cjk-font-size * 1em}
      font-weight: $cjk-heading-font-weight

  .card-action
    display: block
    width: 100%
    position: absolute
    text-align: center
    bottom: 0
    left: 0
    a
      margin-right: 0 !important

.post-actions
  display: inline-block
  a
    .material-icons
      margin-right: 8px
    padding:
      left: 8px
      right: 8px

.fake-card-action-link
  color: #ffab40
  text-transform: uppercase

$border-swag: 1px solid rgba(160, 160, 160, 0.2)
.post-header
  border-bottom: $border-swag
  padding: 1rem
  margin-bottom: 1rem
  text-align: center

.posts-button-back
  position: absolute
  top: 0
  left: 0

.post-details
  display: inline-block
  color: lighten($text, 20%)
  font-family: $family-sans-serif
  font-size: 0.8em
  font-weight: 400
  margin: 0

  .post-title + &
    margin-top: 0

  > *
    margin-right: 16px
    &:last-of-type
      margin-right: 0

  .material-icons
    vertical-align: bottom
    font-size: 1.5em

  .post-date-text, .post-language-text, .post-view-count
    vertical-align: middle
    margin-top: 1px