<div class="post-content" lang="zh">
  <p>大家好，我叫卡肉・莫若思（Karol MOROZ），來自波蘭北部的一座小城市，名叫科沙林。我最近搬到臺北，打算在此唸中英翻譯碩士課程。本網頁是我的部落格，但其實我建立這個網站的主要目的是為了展現我的軟體開發跟網頁設計方面的能力。</p>
  <p>我2010年春天開始學習中文，當時我才16歲。每逢有人問我當初為什麼決定學習中文，我都說是因為我覺得漢字很好看，當時乾脆對該語言有興趣，而對於東亞的文化一無所知。後來我考上了波蘭波茲南某所大學的中文系並留學中國大陸和台灣。</p>
  <p>我的興趣愛好不多，主要是學習外國語、寫程式與藏傳佛教。若想聯繫我，歡迎來<a href="mailto:k.j.moroz@gmail.com">電子郵件</a>聯絡。</p>
</div>
