@import "./fluid_type"
@import "../variables"

$min-screen: 20rem
$max-screen: 85rem

html
  @include interpolate(font-size, 320px, 2200px, 16px, 22px)

body
  font-weight: 400
  line-height: 1.45
  color: #333

*:lang(zh),
.is-font-sans
  font-family: $family-sans-serif

.is-font-monospace
  font-family: $family-monospace

p
  font-family: $family-primary
  margin-bottom: 1.3rem
  &:lang(zh)
    font-size: 1.1rem

h1, h2, h3, h4
  font-weight: 900
  line-height: 1.2
  font-family: $family-sans-serif
  margin: 0
  @include interpolate((padding-top, padding-bottom), 20rem, 70rem, 0rem, .5rem)

h1, .h1-size
  margin-top: 0
  @include interpolate(font-size, $min-screen, $max-screen, 1.602rem, 3.157rem)

h2, .h2-size
  @include interpolate(font-size, $min-screen, $max-screen, 1.424rem, 2.369rem)

h3, .h3-size
  @include interpolate(font-size, $min-screen, $max-screen, 1.266rem, 1.333rem)

h4, .h4-size
  @include interpolate(font-size, $min-screen, $max-screen, 1.125rem, 1rem)

small, .font_small
  @include interpolate(font-size, $min-screen, $max-screen, 0.889rem, 0.75rem)

.btn
  font-weight: 300
  font-size: 16px
  font-family: $family-sans-serif

strong
  font-weight: $global-bold-weight

a.is-new
  color: $link-new

pre, *:lang(zh) pre
  background-color: rgb(245, 242, 240)
  padding: 0.5em 1em
  white-space: pre-wrap
  font-size: $code-block-font-size
  line-height: 1.45
  overflow-x: hidden

  code, *
    font-family: $family-monospace
    font-size: $code-block-font-size
    white-space: pre-wrap
    overflow-x: hidden

code.inline
  background-color: rgb(245, 242, 240)
  font-family: $family-monospace
  word-wrap: break-word

code[class*="language-"], pre[class*="language-"]
  white-space: pre-wrap
