<div class="card error-card">
  <div class="card-content error-content">
  <h1 class="error-code">404</h1>
    <p class="error-explanation">
We are sorry, but the requested resource has not been found.<br/>
    <%= link "Go back", to: "/" %>
    </p>
  </div>
</div>