/* This file is for your main application css. */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Material+Icons&subset=latin-ext')

@import './variables'
@import './materialize'
@import '../node_modules/prismjs/themes/prism.css'
@import "1-base/typography"
@import "0-layout/import"
@import "2-modules/import"

body
  margin: 0
  background-color: #f8f8f8

.three-row-layout
  display: grid
  min-height: 100vh
  grid-template-rows: auto 1fr auto
  grid-row-gap: 1rem
  @media #{$medium-up}
    grid-row-gap: 2rem
  @media #{$full-hd-up}
    grid-row-gap: 3rem

footer
  font-size: 1rem
  text-align: center
  padding: 0
  margin-bottom: 1rem
  @media #{$medium-up}
    padding: 1.5em 0
