<div class="login-form">
<h3>Sign in</h2>
<%= form_for @conn, session_path(@conn, :create), [name: :session], fn f -> %>
  <%= input f, :email, autofocus: true %>
  <%= input f, :password %>
  <%= submit_button "Sign in", class: "btn waves-effect" %>
<% end %>
</div>