@import '../variables'

.container
  max-width: 100vw
  width: 100%
  @media #{$medium-up}
    max-width: 50rem
  @media #{$full-hd-up}
    max-width: 60rem

  .card
    height: 100%

.post-content, .content
  line-height: 1.75

.card-content .post-content p
  margin-bottom: 0.55em

@media #{$full-hd-up}
  img.responsive-img
    max-width: 1100px
