@import '../variables'

$overlay-color: transparentize(darken($background-overlay-color, 25%), 0.6)

$overlay-gradient: linear-gradient($overlay-color, $overlay-color)

.parallax-bg
  background-image: $overlay-gradient, url(/images/background-hk.jpg)
  background-size: cover
  background-position: 50% 35%
  background-repeat: no-repeat
  height: 61.8vh
  width: 100vw
  position: fixed
  margin: 0
  z-index: -1

.page-header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1.5rem 1.5rem 0 1.5rem

  @media #{$mobile-only}
    padding-right: 1.2rem
    padding-left: 1rem

.page-header-right
  a
    display: inline-block
    color: #fff
    text-transform: uppercase
    border-bottom: 3px solid transparent
    margin: 0 0 1rem 1rem

    &:hover
      border-bottom: 3px solid #fff
    &:visited, &:active
      color: #fff

.logo
  display: block
  text-align: center
  img
    height: 2.2rem
    @media #{$medium-up}
      height: 2.35rem
    @media #{$large-up}
      height: 2.7rem
    @media #{$full-hd-up}
      height: 3rem

.subheader
  color: #fff
  font-size: 0.92rem
  font-weight: 300
  padding: 0
  text-align: center
  @media #{$medium-up}
    // font-variant: small-caps
    font-size: 1.1rem
  @media #{$full-hd-up}
    font-size: 1.25rem

.page-header-cta
  border: solid transparentize($primary, 0.5) 2px
  border-radius: 3px
  font-family: $family-sans-serif
  display: inline-block
  font-size: 1rem
  text-transform: uppercase
  padding: 0.5em 1em
  margin: 1rem auto
  &:hover, &:active
    color: lighten($primary, 10%)
