@import "../variables"

.card.login-card
  max-width: 32rem
  margin: 0 auto
  padding: 1.5rem
  display: flex
  justify-content: center
  align-items: center

  h3
    text-align: center
    color: $brand-color
  button
    display: block
    margin: 0 auto

.login-form
  width: 80%
  margin: auto

  .input-field
    margin-bottom: 2rem

.login-form-button
  margin:
    top: 1em
    left: auto
    right: auto
  width: 50%