<div id="comment_<%= @comment.id %>" class="comment"><p class="comment-metadata">
<span class="comment-signature"><%= @comment.signature %></span>
<span class="comment-timestamp"><%= format_date(@comment.inserted_at) %></span>
<%= if @comment.ip do %><span class="comment-ip">from <%= @comment.ip %></span><% end %>
</p>
<p class="comment-body"><%= @comment.body %></p>
</div>