<h2>Listing Files</h2>

<table class="table">
  <thead>
    <tr>
      <th>Filename</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for file <- @files do %>
    <tr>
      <td><%= file.filename %></td>

      <td class="text-right">
        <span><%= link "Show", to: file_path(@conn, :show, file), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: file_path(@conn, :edit, file), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: file_path(@conn, :delete, file), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New File", to: file_path(@conn, :new) %></span>
