<h2>Upload file: <%= @slug %></h2>
<%= render ElefantoWeb.SharedView, "_error_explanation.html", changeset: @changeset %>
<%= form_for @changeset, file_path(@conn, :create), [multipart: true], fn f -> %>
<%= hidden_input f, :slug %>
<div class="file-field input-field">
<div class="btn"><span>Browse</span><%= file_input f, :filename %></div>
<div class="file-path-wrapper"><input type="text" class="file-path validate" placeholder="File path"></div>
</div>
<%= submit "Upload Image", class: "btn waves-effect waves-light" %>
<% end %>