<h2>Image: <%= @slug %></h2>

<%= if @file do %>
  <%= render("_image.html", file: @file) %>
  <p><strong>Original filename:</strong> <%= @file.filename %></p>
<% else %>
  This file has not been uploaded yet.
<% end %>
