<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render ElefantoWeb.SharedView, "_ga.html", assigns %>
    <%= render ElefantoWeb.SharedView, "_preamble.html", conn: @conn, title: assigns[:title] %>
  </head>
  <body>
    <div class="parallax-bg" id="parallax"></div>
    <div class="three-row-layout">
    <%= render ElefantoWeb.SharedView, "_header.html", assigns %>
      <div class="container">
      <div class="card">
        <div class="card-content">
        <%= render_flash(@conn) %>
        <%= render @view_module, @view_template, assigns %>
        </div>
      </div>
      </div>
    <%= render ElefantoWeb.SharedView, "_footer.html", assigns %>
    </div>
    <script src="<%= static_path(@conn, "/js/site.js") %>"></script>
  </body>
</html>

