<!DOCTYPE html>
<html lang="en">
  <head>
    <%= if @conn.assigns[:user_token] do %>
    <meta name="user-token" content="<%= assigns[:user_token] %>">
    <% end %>
    <%= render ElefantoWeb.SharedView, "_preamble.html", conn: @conn %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>
    <script src="<%= static_path(@conn, "/js/editor.js") %>"></script>
  </body>
</html>

